body {
    margin: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    /* scroll-behavior: smooth; */
}

html {
    scroll-behavior: smooth;

}

/* .navbar {
    display: inline-flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

.navbar,a {
text-decoration: none;
color: white;
} */


.navbar {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #000; /* Changing background color to black */
    color: #fff; /* Changing text color to white */
    padding: 10px;
    z-index: 1000; /* Ensures the menu stays on top of other content */
    text-align: center; /* Centering text */
    transition: height 0.3s ease; /* Adding transition for smoother animation */
    overflow: hidden; /* Hides overflow content */
    height: 50px; /* Initial height */
  }

  .navbar:hover {
    height: auto; /* Expand menu on hover */
  }

  .navbar p {
    margin: 0; /* Remove default margin */
  }

  .navbar a {
    color: inherit; /* Inheriting the color from the parent for links */
    text-decoration: none;
    display: block; /* Displaying links as blocks */
    margin-bottom: 5px; /* Adding some space between links */
  }

  .content {
    margin-top: 60px; /* Adjust margin-top to accommodate the fixed menu height */
    /* Add additional styles for your content if needed */
  }

  /* Style for the active link */
  .navbar a.active {
    font-weight: bold;
  }

.hero-image > * {
    max-width: 500px;
   width: 100%;
   height: auto;
   object-fit: contain;
   display: flex;
   margin: 0 auto;
}

.slogan {
    flex-direction: column;
    height: auto;
    justify-content: center;
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 30px;
    justify-content: flex-start;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer a {
    color: white;
    text-decoration: none;

}

.copyright {
    text-align: center;
    font-size: 12px;
}

@media screen and (max-width: 600px) {
    .footer {
        justify-content: center;
        line-height: normal;
        gap: 10px;
    }
}

.gallery-section {
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* text-align: left; */
    max-width: 900px;
    width: 100%;
    padding: 10px;
}

.gallery-item {
    margin: 5px;
    width: 250px;
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    display: block;
}


.contacts {

}


section {
    height: 100vh; /* Set the height of sections to 100% of the viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden; 
}